.form{


    
    &__group:not(:last-child){
        margin-bottom: 2rem;
    }
    &__input{
        font-size: 1.5rem;
        //they don;t get our font color inherited
        color: inherit;
        //by default inputs dont get our font so we add inherit
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width:90%;
        display: block;

        
        &:focus{
            outline: none;
            //we never just set outline and buzz off, we gotta set an element here
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid{
            border-bottom: 3px solid $color-secondary-dark;

        }

        &::-webkit-input-placeholder{
            color: $color-grey-dark-2;
        }
    }

    //style placeholder text
    
    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }
    //~ is general sibling collector, + is the g
    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}